{% extends 'base.html' %}
{% load staticfiles %}
{%  load crispy_forms_filters %}
{% block body %}
<div class="form-content d-flex justify-content-center align-items-center">
    <form  method="POST" role="form" class="form-container p-4 bg-white rounded shadow-sm">
        {% csrf_token %}    
        <div class="mb-4">
            <h1 class="text-dark font-weight-normal">Login</h1>
            <p class="text-secondary">Por favor realize o login para que possa sugerir termos.</p>
        </div>
        
        <fieldset>
            {{ form|crispy }}
        </fieldset>
        
        <button class="btn btn-lg btn-primary btn-block mb-2 bg-primary" type="submit" value="Entrar">Entrar</button>
    
        <input type="hidden" name="next" value="{{ next }}">
        
        <div class="d-flex justify-content-between">
              <a href="{% url 'registrar' %}">Registre-se</a>
        </div>
    </form>
</div>
{% endblock %}
