{% extends 'base_usuario.html' %}
{% load staticfiles %}
{% block body %}

{% if success %}
<div class="form-signin">
    <div class="form-header">
      <div style="margin-right: 1em"><a href="{% url 'entrar' %}"><img src="{% static 'img/arrow-left-user.svg' %}" alt="Voltar" ></a></div>
    <div><img src="{% static 'img/logo-black.svg' %}" alt="EVENTOP" width="150em"></div>
    </div>
    <div>
        <h2 class="form-signin-heading">Sucesso!</h2>
        <p>Nova senha criada com sucesso</p>
    </div>
</div>
{% else %}  
    
<form  method="POST" role="form" class="form-signin">
    {% csrf_token %}
    <div class="form-header">
        <div style="margin-right: 1em"><a href="{% url 'entrar' %}"><img src="{% static 'img/arrow-left-user.svg' %}" alt="Voltar" ></a></div>
        <div><img src="{% static 'img/logo-black.svg' %}" alt="EVENTOP" width="150em"></div>
    </div>

    <h2 class="form-signin-heading">Nova senha</h2>
    
    <fieldset>
        {% for field in form %}
        <div>
            {{ field }}
        </div>
        {% endfor %}
    </fieldset>
    
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Enviar">Enviar</button>

    <input type="hidden" name="next" value="{{ next }}">

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" > 
        <p style="font-size: 1em">{{ form.errors }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    </div>
    {% endif %}
</form>
{% endif %}
<script>
    document.querySelector('#id_new_password1').classList.toggle('form-control')
    document.querySelector('#id_new_password1').placeholder = "Nova senha";
    document.querySelector('#id_new_password2').classList.toggle('form-control')
    document.querySelector('#id_new_password2').placeholder = "Confirmar nova Senha";
</script>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>