{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body %}

<div class="form-content d-flex justify-content-center align-items-center pt-5">
    <form  method="POST" role="form" class="form-container p-4 bg-white rounded shadow-sm" action="{% url 'registrar' %}">
        {% csrf_token %}

        <div class="mb-4">
            <h1 class="text-dark font-weight-normal">Crie seu usuário</h1>
        </div>
        
        <fieldset>
            {{form|crispy }}
        </fieldset>
        
        <button class="btn btn-lg btn-primary btn-block bg-primary" type="submit" value="Login">Registrar</button>

    </form>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% endblock %}
