{% extends 'base_usuario.html' %}
{% load staticfiles %}
{% block body %}

{% if success %}
<div class="form-content d-flex justify-content-center align-items-center">
    <div class="form-container p-4 bg-white rounded shadow-sm">
        <a class="text-decoration-none text-dark font-weight-bold" href="{% url 'entrar' %}">Fazer Login</a>
        <h2>Sucesso!</h2>
        <p>Um e-mail foi enviado para você com mais detalhes de como criar uma nova senha!</p>
    </div>
</div>
{% else %}  
    
<div class="form-content d-flex justify-content-center align-items-center">

    <form  method="POST" role="form" class="form-container p-4 bg-white rounded shadow-sm">
        {% csrf_token %}
        <div class="mb-4">
            <h2 class="text-dark font-weight-normal">Recuperar Senha</h2>
            <p class="text-secondary">Vamos lhe enviar um e-mail com instruções de como recuperar sua senha</p>
        </div>
        
        <fieldset>
            {% for field in form %}
            <div>
                {{ field }}
            </div>
            {% endfor %}
        </fieldset>
        
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Enviar" style="font-size: 1em">Enviar e-mail de recuperação</button>
    
        <input type="hidden" name="next" value="{{ next }}">
    
        {% if form.errors %}
        <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="errorCadModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorCadModalLabel">Erro ao enviar e-mail de recuperação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Por favor, verifique o e-mail informado</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
                    </div>
                </div>
            </div>
        </div>
       
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="{% static 'js/showFormErrorsModal.js' %}"></script>
        {% endif%}
    </form>
</div>
{% endif %}
<script src="{% static 'js/forgotPassFormHelper.js' %}"></script>
{% endblock %}