{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="d-flex flex-column p-3">
        <div>
            <h2>EVENTOP</h2>
        </div>
        <div class="pt-3">
            <p>Para criar uma nova senha acesse o link: <a title="Link para criar nova senha" href="http://localhost:8000{% url 'passwordResetConfirm' reset.key %}">Criar nova Senha</a></p>
        </div>
        <div class="pt-2">
            <p class="text-muted">EVENTOP 2019 - Alguns direitos reservados.</p>
        </div>
    </div>
</body>
</html>


